


/* ##################################################################################################
	Theme icons style
################################################################################################## */
	

html #product_comments_block_extra a:before          { 
	font-size: 20px;
	font-family: "FontAwesome";
     content: "\f0e5";
	text-shadow: none;
	margin-right: 5px;
	}
	
