<!DOCTYPE html>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if IE 7]>
<script type="text/javascript">
    location.replace("http://windows.microsoft.com/en-US/internet-explorer/products/ie/home");
</script>
<![endif]-->

<html>
<head>
    <title>Magazinul meu{% block title %}{% endblock %}</title>
    <meta name="description" content="Shop powered by PrestaShop"/>
    <meta name="keywords" content="shop, prestashop"/>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <meta http-equiv="content-language" content="en-gb"/>
    <meta name="generator" content="PrestaShop"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>
    <meta name="robots" content="index,follow"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/demo/shoppik/img/favicon.ico?1377293356"/>
    <link rel="shortcut icon" type="image/x-icon" href="/demo/shoppik/img/favicon.ico?1377293356"/>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" media="all"/>

    <!-- jQuery library (served from Google) -->
    <script src="{{ asset('js/jquery-latest.js') }}"></script>
    <!-- bxSlider Javascript file -->
    <script src="{{ asset('js/jquery.slider.min.js') }}"></script>
    <!-- bxSlider CSS file -->
    <link href="{{ asset('css/jquery.slider.css') }}" rel="stylesheet"/>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('js/jquery.nouislider.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/nouislider.fox.css') }}" type="text/css" media="screen" />


</head>

<body id="index" class=" ">
<div id="page" class="clearfix">
    <div class="navbar navbar-static top-links">
        <div class="navbar-inner container_9">
            <ul id="header_nav" class="nav pull-left">
                <li><i class="icon-user"></i> <a href="#">My Account</a></li>
                <li><i class="icon-heart"></i> <a href="/">Wishlist </a></li>
            </ul>
            <ul id="header_nav" class="nav pull-right">
                <li><i class="icon-shopping-cart"></i> <a href="{{ url('cart') }}">Shopping Cart</a></li>
                <li><i class="icon-circle-arrow-right"></i> <a href="/">My Account </a></li>
            </ul>
        </div>
    </div>

    <!-- Header -->

    <header id="header" role="heading">
        <div class="sf-contener clearfix ">
            <nav class="nav-wrap container_9">
                <ul class="sf-menu clearfix  ">
                    <li class="first-logo-item "><a title="Shoppik" href="/" class="logo "><img width="145" height="59"
                                                                                                alt="logo"
                                                                                                src="media/logo.jpg"></a>
                    </li>
                    <li><a href="/">Living Room</a>
                        <ul>
                            <li><a href="/">Chairs</a></li>
                            <li><a href="/">Sofas</a></li>
                            <li><a href="/">Tables</a></li>
                            <li><a href="/">Wardrobes</a></li>
                        </ul>
                    </li>
                    <li><a href="/">DedRoom</a>
                        <ul>
                            <li><a href="/">Sofas</a></li>
                            <li><a href="/">Wardrobes</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Dining Room</a>
                        <ul>
                            <li><a href="/">Wardrobes</a></li>
                            <li><a href="/">Tables</a></li>
                            <li><a href="/">Chairs</a></li>
                        </ul>
                    </li>
                    <li style="float:right" class="sf-search noBack">
                        <form method="get" action="{{ url('search') }}" id="searchbox">
                            <p>
                                <input type="text" placeholder="Type and hit enter" value="" name="q">
                            </p>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %}{% endblock %}
    <div class="footer-banner">
        <div class="container_9 clearfix">
            <p><a href="/"><img alt="" src="media/cat.jpg"></a> <a href="/"><img alt="" src="media/cat2.jpg"></a> <a
                        href="/"><img class="last" alt="" src="media/cat3.jpg"></a></p>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="clearfix">
        <div class="footer-wrap container_9 ">
            <div class="footer-set">
                <div class="block">
                    <h4>Customer Service</h4>
                    <div class="block_content">
                        <ul>
                            <li class="first_item"><a title="Specials"
                                                      href="index.php?controller=prices-drop">Specials</a></li>
                            <li class="item"><a title="New products" href="index.php?controller=new-products">New
                                    products</a></li>
                            <li class="item"><a title="Best sellers" href="index.php?controller=best-sales">Best
                                    sellers</a></li>
                            <li class="item"><a title="Our stores" href="index.php?controller=stores">Our stores</a>
                            </li>
                            <li class="item"><a title="Contact us" href="index.php?controller=contact">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block">
                    <h4>Information</h4>
                    <div class="block_content">
                        <ul>
                            <li class="item"><a title="Delivery"
                                                href="index.php?id_cms=1&amp;controller=cms&amp;id_lang=1">Delivery</a>
                            </li>
                            <li class="item"><a title="Legal Notice"
                                                href="index.php?id_cms=2&amp;controller=cms&amp;id_lang=1">Legal
                                    Notice</a></li>
                            <li class="item"><a title="About us"
                                                href="index.php?id_cms=4&amp;controller=cms&amp;id_lang=1">About us</a>
                            </li>
                            <li><a title="Sitemap" href="index.php?controller=sitemap">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block">
                    <h4>My account</h4>
                    <div class="block_content">
                        <ul>
                            <li><a href="index.php?controller=history">My orders</a></li>
                            <li><a href="index.php?controller=order-slip">My credit slips</a></li>
                            <li><a href="index.php?controller=addresses">My addresses</a></li>
                            <li><a href="index.php?controller=identity">My personal info</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block last">
                    <h4>Contact us</h4>
                    <div class="block_content">
                        <p><a href="mailto:prestazilla@gmail.com">prestazilla@gmail.com</a> <br/>
                            +38649 123 456 789 00<br/>
                            Lorem ipsum address street no 24 b41</p>
                    </div>
                </div>
            </div>
            <footer id="footer-absolute" class="clearfix"><a id="scroll-top-img" href="#" class="go-top"> <img
                            src="images/scrolltop.png"/></a>
                <div class="copy">
                    <p>© 2013 Shoppik , All Rights Reserved</p>
                </div>
                <div class="social">
                    <p><a href="#"> <em class="icon-facebook"><span>icon</span></em></a> <a href="#"><em
                                    class="icon-twitter"><span>icon</span></em></a> <a href="#"><em
                                    class="icon-rss"><span>icon</span></em></a> <a href="#"><em
                                    class="icon-pinterest"><span>icon</span></em></a> <a href="#"><em
                                    class="icon-google-plus"><span>icon</span></em></a></p>
                </div>
            </footer>
        </div>
    </footer>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
