{% extends 'home.html.twig' %}

{% block body %}
    <section  id="columns" class="container_9 clearfix col1">

        <!-- Left -->
        <aside id="left_column" class="column grid_2 alpha">
            <!-- Block myaccount module -->
            <div class="block myaccount">
                <h4 class="title_block"><i class="icon-hospital"></i><a href="/" title="My account">My account</a></h4>
                <div class="block_content">
                    <ul class="bullet">
                        <li><a href="/" title="">My orders</a></li>
                        <li><a href="/" title="My credit slips">My credit slips</a></li>
                        <li><a href="/" title="My addresses">My addresses</a></li>
                        <li><a href="/" title="My personal info">My personal info</a></li>

                        <!-- MODULE WishList -->
                        <li class="lnk_wishlist"> <a href="/" title="My wishlists"> <img  src="modules/blockwishlist/img/gift.gif" class="icon"  alt="wishlist" /> My wishlists </a> </li>
                        <!-- END : MODULE WishList -->
                    </ul>
                    <p class="logout"><a href="/" title="Sign out">Sign out</a></p>
                </div>
            </div>
            <!-- /Block myaccount module -->

            <!-- Block CMS module -->
            <div id="informations_block_left_3" class="block informations_block_left">
                <h4 class="title_block"><a href="/">test</a></h4>
                <ul class="block_content">
                    <li><a href="/" title="Delivery">Delivery</a></li>
                    <li><a href="/" title="Legal Notice">Legal Notice</a></li>
                    <li><a href="/" title="About us">About us</a></li>
                    <li><a href="/" title="Our stores">Our stores</a></li>
                </ul>
            </div>
            <!-- /Block CMS module -->
        </aside>

        <!-- Center -->
        <article id="center_column" class=" grid_5">
            <div class="breadcrumb"> <a href="/" title="return to Home">Home</a> <span class="navigation-pipe">/</span>Shopping Cart </div>
            <div class="cart">
                <div class="category-image"><img width="1170" height="111" src="media/title.png">
                    <div class="page-title "> Cart </div>
                </div>
                <ul class="messages">
                    <li class="success-msg">
                        <ul>
                            <li><span>Sony VAIO VGN-TXN27N/B 11.1" Notebook PC was added to your shopping cart.</span></li>
                        </ul>
                    </li>
                </ul>
                    <fieldset>
                        <table class="data-table cart-table" id="shopping-cart-table">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                            </colgroup>
                            <thead>
                            <tr class="first last">
                                <th rowspan="1" class="product-image-unit" >Image</th>
                                <th rowspan="1" class="product-name-unit"><span class="nobr">Product Name</span></th>
                                <th colspan="1" class="a-center"><span class="nobr">Unit Price</span></th>
                                <th class="a-center" rowspan="1">Qty</th>
                                <th colspan="1" class="a-center">Subtotal</th>
                                <th class="a-center" rowspan="1">Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr class="first last">
                                <td class="a-center last" colspan="50">
                                    <form method="get" action="{{ url('clear-cart') }}">
                                        <button id="empty_cart_button" class="button btn-empty" title="Clear Shopping Cart" type="submit"><span><span>Clear Shopping Cart</span></span></button>
                                    </form>
                                </td>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for cartItem in cart.cartItems %}
                            <tr class="first last odd">
                                <td>
                                    <a class="product-image"  href="{{ url('product',{"id": cartItem.product.id, "name": cartItem.product.name}) }}">
                                        <img src="{{ asset('pictures/'~cartItem.product.getFirstImage().filename) }}" width="110" height="75">
                                    </a>
                                </td>
                                <td>
                                    <h2 class="product-name">
                                        <a href="{{ url('product',{"id":cartItem.product.id, "name":cartItem.product.name}) }}">{{ cartItem.product.name }}</a>
                                    </h2>
                                </td>
                                <td class="a-center"><span class="cart-price"> <span class="price">{{ cartItem.product.price }} RON</span> </span></td>
                                <td class="a-center">
                                    <form method="get" action="{{ url('update-cart', {'id':cartItem.id}) }}">
                                        <input maxlength="12" class="input-text qty" title="Qty" size="4" value="{{ cartItem.quantity }}" name="q">
                                        <button class="button btn-update" title="Update Shopping Cart" type="submit"><span><span>Update</span></span></button>
                                    </form>
                                </td>
                                <td class="a-center"><span class="cart-price"> <span class="price">{{ cartItem.total }} RON</span> </span></td>
                                <td class="a-center last">
                                    <a class="btn-remove btn-remove2" title="Remove item" href="{{ url('update-cart', {'id':cartItem.id}) }}?q=0">x</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>

                <div class="cart-collaterals">
                    <div class="col2-set">
                        <div class="col-1">

                        </div>
                        <div class="col-2">

                        </div>
                    </div>
                    <div class="totals">
                        <table id="shopping-cart-totals-table">
                            <colgroup>
                                <col>
                                <col width="1">
                            </colgroup>
                            <tfoot>
                            <tr>
                                <th colspan="1" class="a-center" style=""> <strong>Grand Total</strong> </th>
                                <td class="a-center" style=""><strong><span class="price">{{ cart.total }} RON</span></strong></td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <th colspan="1" class="a-center" style=""> Subtotal </th>
                                <td class="a-center" style=""><span class="price">{{ cart.total }} RON</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="checkout-types">
                            <li>
                                <button onclick="window.location='{{ url('checkout-cart') }}';" class="button btn-proceed-checkout btn-checkout" title="Proceed to Checkout" type="button"><span><span>Proceed to Checkout</span></span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>

        <!-- Right -->
        <aside id="right_column" class="column grid_2 omega">

            <!-- Block categories module -->
            <div id="categories_block_left" class="block">
                <h4 class="title_block">Categories</h4>
                <div class="block_content">
                    <ul class="tree dhtml">
                        <li > <a href="/"  title="">Living Room</a>
                            <ul>
                                <li > <a href="/"  title="">Chairs</a> </li>
                                <li > <a href="/"  title="">Sofas</a> </li>
                                <li ><a href="/"  title="">Tables</a> </li>
                                <li class="last"> <a href="/"  title="">Wardrobes</a> </li>
                            </ul>
                        </li>
                        <li ><a href="/"  title="">DedRoom</a>
                            <ul>
                                <li > <a href="/"  title="">Sofas</a> </li>
                                <li class="last"> <a href="/"  title="">Wardrobes</a> </li>
                            </ul>
                        </li>
                        <li class="last"><a href="/"  title="">Dining Room</a>
                            <ul>
                                <li > <a href="/"  title="">Wardrobes</a> </li>
                                <li > <a href="/"  title="">Tables</a> </li>
                                <li class="last"> <a href="/"  title="">Chairs</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Block categories module -->

            <div id="wishlist_block" class="block account">
                <h4 class="title_block"> <a href="/"  title="">Wishlist</a> </h4>
                <div class="block_content">
                    <div id="wishlist_block_list" class="expanded">
                        <dl class="products">
                            <dt>No products</dt>
                        </dl>
                    </div>
                    <p class="lnk"> <a href="/"  title="">&raquo; My wishlists</a> </p>
                </div>
            </div>
        </aside>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
