{% extends 'home.html.twig' %}

{% block body %}
    <section id="columns" class="container_9 clearfix col1">
        <!-- Center -->
        <article id="center_column" class=" grid_5">
            <h3 class="title-carousel">Featured</h3>
            <ul class="products-grid first odd">
                {% for product in  products %}
                {% set class = loop.index % 4==0 ? 'last' : 'first' %}
                <li class="item {{ class }} fadeIn animated">
                    <a class="product-image" title="{{ product.name }}" href="{{ url('product',{"id":product.id, "name":product.name}) }}">
                        <img src="{{ asset('pictures/'~product.getFirstImage().filename) }}" width="249" height="180" alt="product">
                    </a>
                    <h2 class="product-name"><a title="{{ product.name }}" href="{{ url('product',{"id":product.id, "name":product.name}) }}"> {{ product.name }} </a></h2>
                    <div class="actions">
                        <a class="btn-circle" href="{{ url('add-to-cart', {'id':product.id}) }}">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
                </li>
                    {% if loop.index % 4==0 %}
                <ul class="products-grid first odd">
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
