{% extends 'home.html.twig' %}

{% block body %}
    <section id="columns" class="container_9  clearfix col2-right">
        <!-- Center -->
        <article id="center_column" class=" grid_5">
            <h3 class="title-carousel">Searching for: '{{ q }}'</h3>
            <ul class="products-grid first odd">
                {% for product in  pagination %}
                {% set class = loop.index % 3==0 ? 'last' : 'first' %}
                <li class="item {{ class }} fadeIn animated">
                    <a class="product-image" title="{{ product.name }}" href="{{ url('product',{"id":product.id, "name":product.name}) }}">
                        <img src="{{ asset('pictures/'~product.getFirstImage().filename) }}" width="249" height="180" alt="product">
                    </a>
                    <h2 class="product-name"><a title="{{ product.name }}" href="{{ url('product',{"id":product.id, "name":product.name}) }}"> {{ product.name }} </a></h2>
                    <div class="actions">
                        <a class="btn-circle" href="{{ url('add-to-cart', {'id':product.id}) }}">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
                </li>
                    {% if loop.index % 3==0 %}
                <ul class="products-grid first odd">
                    {% endif %}
                {% endfor %}
            </ul>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
        </article>

        <!-- Right -->
        <aside id="right_column" class="column grid_2 omega">

            <!-- Block categories module -->
            <div id="categories_block_left" class="block">
                <h4 class="title_block">Categories</h4>
                <div class="block_content">
                    <ul class="tree dhtml">
                        <li > <a href="/"  title="">Living Room</a>
                            <ul>
                                <li > <a href="/"  title="">Chairs</a> </li>
                                <li > <a href="/"  title="">Sofas</a> </li>
                                <li > <a href="/"  title="">Tables</a> </li>
                                <li > <a href="/"  title="">Wardrobes</a> </li>
                                <li > <a href="/"  title="">DedRoom</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Block categories module -->

            <!-- Block CMS module -->
            <div class="block" id="layered_block_left">
                <h4 class="title_block">Filter By</h4>
                <div class="block_content">
                    <form id="layered_form" action="#">
                        <div>
                            <div> <span class="layered_subtitle">Categories</span>
                                <div class="clear"></div>
                                <ul class="Hide" id="ul_layered_category_0" >
                                    <li>
                                        <input type="checkbox" id="layered_category_1" class="checkbox">
                                        <label for="layered_category_1"> Jackets<span> (1)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="layered_category_2" class="checkbox">
                                        <label for="layered_category_2"> Chairs <span> (10)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="layered_category_3" class="checkbox">
                                        <label for="layered_category_3"> Kids & Babies<span> (1)</span> </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="layered_category_4" class="checkbox">
                                        <label for="layered_category_4"> Electronics <span> (1)</span></label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="layered_category_5" class="checkbox">
                                        <label for="layered_category_5"> Jackets<span> (1)</span></label>
                                    </li>
                                </ul>
                            </div>
                            <div> <span class="layered_subtitle">Condition</span>
                                <div class="clear"></div>
                                <ul class="Hide" id="ul_layered_condition_0" >
                                    <li >
                                        <input type="checkbox" id="layered_Condition_1" class="checkbox">
                                        <label for="layered_Condition_1"> New<span> (1)</span></label>
                                    </li>
                                    <li >
                                        <input type="checkbox" id="layered_Condition_2" class="checkbox">
                                        <label for="layered_Condition_2">Old<span> (1)</span></label>
                                    </li>
                                </ul>
                            </div>
                            <link rel="stylesheet" href="css/nouislider.fox.css" type="text/css" media="screen" />
                            <div class="layered_price"> <span class="layered_subtitle">Price</span>
                                <div class="clear"></div>
                                <ul id="ul_layered_price_0" class="Hide">
                                    <div class="section-body">
                                        <div class="range-slider-container">
                                            <div class="range-slider"></div>
                                            <div class="range-slider-value clearfix"> <span class="min"></span> <span class="max"></span> </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                    </form>
                </div>
            </div>
        </aside>
    </section>
{% endblock %}

{% block stylesheets %}

{% endblock %}
