 @import url("mobile-nav.css");
 @media only screen and (max-width: 800px) {
body {
	-webkit-text-size-adjust: none;
}
BUTTON, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	-ms-appearance: button;
	-o-appearance: button;
	appearance: button;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
html .logo {
	display: block;
	float: right;
	height: 67px;
	margin-right: 10%;
	padding-top: 9px;
	position: relative;
	text-align: right;
	width: auto;
	z-index: 777;
}
.prestaslider-content {
	float: none;
	width: auto;
	margin-left:10px;
}
.sf-contener {
	margin-bottom:0;
}
html .promo-right img {
	margin-bottom: 10px;
}
#presta-slider .bx-wrapper {
	margin: 0 auto 10px !important;
}
.brand-slider .bx-wrapper li {
	height:auto !important;
	background:#FFF;
}
.navbar .nav.pull-right {
	margin-left:10px;
	margin-top:3px;
}
html .footer-banner img {
	float: left;
	height: auto;
	margin: 5px !important;
	width: 30%;
}
html .promo-right img {
	float: left;
	height: auto;
	margin-left: 10px;
	width: 45%;
}
.dl-menuwrapper .dl-trigger:after {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 10px 0 #FFFFFF, 0 20px 0 #FFFFFF;
	content: "";
	height: 5px;
	left: 16%;
	position: absolute;
	top: 10px;
	width: 68%;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
	background: none repeat scroll 0 0 #000;
}
.dl-menuwrapper button {
	background: none repeat scroll 0 0 #000;
	border: medium none;
	cursor: pointer;
	height: 45px;
	outline: medium none;
	overflow: hidden;
	position: relative;
	text-indent: -900em;
	width: 48px;
}
BUTTON, INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"] {
	-moz-appearance: button;
	border-radius: 0 0 0 0;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
button, input {
	line-height: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: middle;
}
input, button, textarea, select {
	color: inherit;
	font-size: 12px;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	line-height: 1.333;
}
html {
	font-size: 100%;
}
#header {
	min-height: 1px !important;
}
.navbar {
}
#iview {
	width:94%;
	min-width:inherit;
	max-width:inherit;
	overflow:hidden;
}
#homecarousel {
	padding: 20px 0 0;
	text-align: center;
}
 .#scroll-top-img {
 display:none;
}
.home-banner li img {
	margin-bottom:5px;
}
.footer-banner li {
	float: none;
	list-style: none outside none;
	margin: 0;
	max-width: none;
	width: 100%;
}
.footer-banner li img {
	margin-bottom:5px;
}
.footer-banner {
	margin:  0;
}
.footer-banner img {
	height: auto;
	margin: 5px 0 !important;
	width: 100%;
}
#homecarousel .home-carousel-wrapper {
	margin:  0;
	padding: 0;
}
#homecarousel .title-carousel {
	width:auto !important;
	text-align:center;
}
.wrap-brand .bx-controls-direction {
	display:none;
}
.block-called {
	bottom: -41px;
	clear: both;
	left: auto;
	margin-bottom: 0;
	padding-left: 0;
	position: absolute;
	right: 57px;
	top: auto;
	width: 156px;
}
.block-called i {
	left: auto;
	margin-right: 0;
	padding: 7px;
	right: -44px;
}
.block-called p {
	color: #191A19;
	font-size: 15px;
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
	visibility: hidden;
}
.iview-controlNav div.iview-items {
	display: none;
	float: left;
	height: 44px;
	padding: 0 10px;
}
.home-promo h3 {
	clear: both;
	float: none;
	font-size:1.3em;
	margin: 0;
	text-align: center;
}
.home-promo .info-promo {
	float: none;
	font-size: 14px;
	line-height: 17px;
	padding:2%;
	text-align: center;
	width: 94%;
	display:none;
}
#iview-timer {
	border-radius: 5px 5px 5px 5px;
	bottom: 14px !important;
	cursor: pointer;
	left: 16px;
	position: absolute;
	top: auto !important;
	z-index: 100;
}
.home-banner li {
	float: none;
	margin: 0;
	max-width: none;
	min-width: auto;
	width: 100%;
}
.category-carousel-wrapper {
	margin-left:-7px;
}
.category-carousel-wrapper img {
	width:97%;
	height:auto;
	max-width:inherit;
}
.category-carousel-wrapper Li {
	float:none;
	list-style:none;
}
.page-title, #cart_title {
	color: inherit;
	font-weight: normal;
	margin: 10px 5px !important;
	padding-bottom: 10px;
	overflow:hidden;
}
.lg-panel {
	display:none;
}
.home_slider .bx-wrapper .bx-pager {
	display:none;
}
.module_video {
	left: 1px;
	position: absolute;
	top: 24px;
	z-index: 559;
}
.ui-widget-content {
	border:none !important;
	background:none !important;
}
.ui-dialog {
	min-height: auto !important;
	overflow: hidden;
	padding: 0.2em;
	position: absolute;
	width: 300px;
	max-width:480px !important;
}
iframe {
	width:100% !important;
	height: auto !important;
}
.ui-dialog .ui-dialog-content {
	height: auto !important;
	min-height: auto !important;
}
.hook-top-fashion {
	position: relative;
	width:  auto;
}
.nav-btn {
	display: block !important;
}
.breadcrumb {
	margin-left: 6px;
	margin-top: 0;
	padding: 18px 10px;
	z-index: 100;
}
.breadcrumb a, .navigation-pipe {
	font-size: 13px;
	position:relative;
	z-index:122;
}
html body article#center_column, html body aside#left_column, html body aside#right_column, #pb-left-column {
	margin: 0 !important;
	overflow: hidden;
	padding: 0 !important;
	width: 100% !important;
}
html #product article#center_column, html #product aside#left_column, html #product aside#right_column, #pb-left-column {
	margin: 0 !important;
	overflow: hidden;
	padding: 0 !important;
	width: 100% !important;
}
body aside#left_column, body aside#right_column {
	padding: 0 0 20px !important;
}
#page .rte {
	line-height: 1.3em;
	padding: 0;
}
#center_column h1 {
	margin-left: 10px;
}
#pb-left-column h1 {
	margin: 0 0 10px;
}
#header {
	min-height: 180px;
	z-index: 900;
}
.bread-wrap {
	clear: both;
	position: relative;
	z-index: 996;
}
.breadcrumb a, .navigation-pipe {
	font-size: 13px;
	position: relative;
	z-index: 122;
}
#search_block_top {
	display: none;
}
#header_user_info a.account {
	z-index: 100;
	position: relative;
	font-weight: bold;
}
#cart_block {
	display: none !important;
}
#header_user_info {
	right:0;
}
#homecarousel .bx-controls {
	display:none;
}
#product_list figcaption {
	display:none !important;
}
#new_comment_form, #fancybox-wrap, #fancybox-wrap .product_desc, #new_comment_form input, #new_comment_form textarea {
	max-width: 480px !important;
	width: auto !important;
}
#new_comment_form .product .product_desc {
	margin-left: 0;
	padding-top: 20px;
}
#new_comment_form #criterions_list label {
	margin: 0;
}
#new_comment_form #criterions_list .star_content {
	float: right;
	margin-right: auto;
}
#authentication #dl-menu {
	display: none !important;
}
#searchbox-mobile {
	float: right;
	margin: 10px;
}
#searchbox-mobile input {
	width: 155px;
}
/********************************
   ***** Modules Block ****
*********************************/

.bg_controller {
	display:none !important;
}
.slide-unit2, .slide-unit1, .product-unit {
	display:none;
}
/********************************
   ***** Home block  ****
*********************************/



.bx-pager a {
	line-height: 12px;
}
.advertising_block {
	margin-bottom: 0;
}
/********************************
   ***** Center Column  ****
*********************************/



#index #center_column {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}
.category-carousel-wrapper hr {
	display:none;
}
#homecarousel .category-carousel-wrapper .bx-pager {
	border: medium none;
	width: 100% !important;
	display:none;
}
#homecarousel .category-carousel-wrapper .bx-viewport a img {
	height: auto;
	width: 100%;
}
#my-account #center_column {
	padding: 0 10px;
	width: auto;
}
#address #center_column {
	padding: 0 10px;
	width: auto;
}
#order #center_column, #order-confirmation #center_column {
	padding: 0 10px 10px;
	width: auto;
}
#module-bankwire-payment #center_column {
	width: auto;
}
#module-cheque-payment #center_column {
	padding: 0 10px;
	width: auto;
}
#order-slip #center_column, #addresses #center_column, #discount #center_column {
	width: auto;
	padding: 0 10px;
}
#scenes {
	display:none;
}
html #product_list .slider_img {
	visibility:hidden;
}
/********************************
       ***** Header****
*********************************/

#languages_block_top, #currencies_block_top, #header_user, #header_user {
	display:none;
}
#header_logo {
	display: block;
	text-align: center;
	width: 100%;
}
.mobile-logo {
	display: block !important;
	font-size: 26px;
	left: 20px;
	position: absolute;
	top: 10px;
	z-index: 900;
}
#header_logo img {
	max-width: 320px;
	height: auto;
}
#header_right {
	float: none !important;
	height: 100px;
	z-index: 100;
	position: relative;
}
.icon-search-view {
	display:block !important;
	color: #fff;
	font-size: 20px;
	text-shadow: none;
	margin:5px 10px 0 0;
	float: right;
	text-decoration:none !important;
}
.icon-search-view i {
	font-size:20px !important;
}
#search_block_top #search_query_top {
	margin-left: 2px !important;
	position: relative;
	top: -2px;
	width: 54% !important;
}
#search_block_top .button {
	display:none !important;
}
ul#header_links {
	display: none;
	float: none;
	height: 45px;
	list-style-type: none;
	margin: 0;
	position: relative;
	top: 50px;
}
#header_links li {
	border: medium none;
	float: none;
	padding-bottom: 3px;
	text-transform: uppercase;
}
#header_link_bookmark {
	display: none;
}
#header_right #header_user {
	clear: both;
	float: right;
	margin-top: -18px;
	width: auto;
	z-index: 10;
}
#shopping_cart a {
}
#header_user_info {
	margin-right: 0px;
	text-align: right;
}
/********************************
   ***** Product list ****
*********************************/
#center_column .sortPagiBar {
	text-align: center;
}
#center_column .sortPagiBar form {
	display: inline-block;
	float: none !important;
}
.list .ajax_wishlist_button:before {
	display:none;
}
.block-desc-list {
	display:none;
}
#product_list li .right_block {
	margin-bottom: 20px;
}
.content_scene_cat img {
	width:100%;
	height:auto;
}
.home-carousel-wrapper li span.new {
	display:none !important;
}
#index .view-list li a div {
	display:none !important;
}
#product_list li span.new {
	background: none repeat scroll 0 0 rgba(250, 105, 100, 0.8);
	color: #FFFFFF;
	font-size: 14px;
	padding: 3px 20px;
	position: absolute;
	right: 5px;
	text-transform: uppercase;
	top: 5px;
	transform: rotate(0deg);
	width: auto;
	text-transform: uppercase;
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.ajax_add_to_cart_button:before {
	left: -4px;
	top: 1px;
}
.compare {
	display:none !important;
}
#product_list a.product_img_link {
	display: block;
	margin: 10px 0 20px;
	position: relative;
	text-align: center;
}
#product_list li p.product_desc {
	line-height: 16px;
	overflow: hidden;
	padding: 0 0 20px;
}
.btn-view {
	margin-bottom:10px;
}
#center_column .sortPagiBar form {
	display: inline-block;
	float: left;
	margin: 0;
}
#center_column .sortPagiBar form label {
	display:none;
}
.sortPagiBar #bt_compare {
	margin:0 10px 0 0 !important;
}
.content_sortPagiBar {
	margin: 0;
	text-align: right;
}
/********************************
   ***** Block ****
*********************************/



.myaccount_lnk_list a {
	color: inherit !important;
	font-size: 12px;
	line-height: 1.333;
	text-transform: none;
}
.blockcategories_footer, #footer .myaccount, #block_various_links_footer, #social_block, #block_contact_infos, #newsletter_block_left {
	clear: both;
	display: inline-block;
	float: none;
	margin: 0 0 0 8px !important;
	padding: 10px 0 !important;
	vertical-align: top;
	width: 42% !important;
}
html #product_list li .center_block {
	border-right: 0 none;
	float: none !important;
	margin-bottom: 0 !important;
	padding-bottom: 0;
	width: 100% !important;
}
.advertising_block {
	text-align: center;
	width: auto;
}
.column .block_content {
	display: none;
	padding: 5px;
}
.block {
	margin: 20px 0 0 !important;
	padding: 0 !important;
	position: relative;
	width:100% !important;
}
aside .block:before, aside .block:after {
	width: 105%;
}
aside .block:before {
	top: -6px;
}
aside .block:after {
	top: 7px;
}
#layered_block_left {
	display:none;
}
.center_block .left_block {
	display: block;
}
.left_block {
	display: none;
}
aside .block h4 {
	background: url("adaptive/mobile_arrows_1.png") no-repeat scroll right -156px #ED5E08 !important;
	font-size: 17px;
	font-weight: 300;
	padding: 15px 11px !important;
	color: #ffffff !important;
}
aside .block h4 a {
	display: block;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
}
html .copy {
	bottom: -65px;
	font-size: 10px;
	left: 0;
	position: relative;
	text-align: left;
	display:none;
}
.social {
	bottom: -54px;
	position: absolute;
	right: 0;
	text-align: left;
	display:none;
}
aside .block .block-open {
	background: url("adaptive/mobile_arrows_1.png") no-repeat scroll right 8px #ED5E08 !important;
}
#newsletter_block_left h4 {
	background: url("img/icon/newsletter.png") no-repeat scroll 0 8px transparent;
	padding: 9px 0 8px 28px;
}
.more-products {
	display: block;
	font-size: 14px;
	margin: 10px 0;
	text-align: center;
}
.products_block li {
	float: none;
}
#product_list li .left_block p {
	left: 0;
	margin: 14px !important;
	padding: 0;
	position: relative;
	text-align: center;
	top: 0;
	width: auto !important;
	z-index: 833;
}
#product_list li .left_block p {
	display: block;
	left: 0;
	margin: 10px !important;
	padding: 0;
	position: relative;
	text-align: center;
	top: 0;
	width: 100% !important;
	z-index: 888;
}
#product_list li span.availability {
	display: block;
	clear:both;
}
/*Featured product*/


#featured-products_block_center li {
	height: auto;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
#featured-products_block_center .product_image {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
}
#featured-products_block_center h5 {
	font-size: 16px;
	min-height: 18px;
	padding: 10px;
	text-transform: uppercase;
}
#featured-products_block_center .lnk_more {
	display: inline;
	font-size: 18px;
	padding-left: 10px;
}
#featured-products_block_center .price_container {
	margin-left: 10px;
}
#featured-products_block_center .price {
	font-size: 1.2em;
	line-height: 1.2em;
}
#featured-products_block_center .product_desc, #featured-products_block_center .product_desc a {
	padding: 0 5px;
}
/********************************
   ***** Product  ****
*********************************/
html #primary_block:before {
	content: "";
	display: block;
	left: 0;
	padding: 1px 0 2px;
	position: relative;
	top: -6px;
}
#dy_product_pager, #belvg_360view_link {
	display:none !important;
}
html #primary_block:after {
	content: "";
	display: block;
	left: 0;
	padding: 1px 0 2px;
	position: relative;
	top: 5px;
}
html body #primary_block:after {
	width: 100% !important;
}
html body #primary_block:before {
	width: 100% !important;
}
html body #primary_block {
	padding: 0px !important;
	width: 100% !important;
}
html #pb-left-column {
	padding: 2% 10% !important;
	width: 80% !important;
}
.blockproductscategory {
	display:none !important;
}
#more_info_block {
	padding-top: 20px;
}
#dy_product_pager {
	display:none;
}
.desctops-zoom {
	display:none;
}
.mobile-zoom {
	display:block !important;
}
#dy_product_pager a {
	text-transform:none;
	padding: 7px 6px 7px 9px;
}
#more_info_sheets {
	padding: 10px;
}
#pb-right-column {
	float: none;
	margin: 0 auto;
	overflow: hidden;
	width:auto;
}
#product_list li .discount {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	text-align: center;
	width: 100%;
}
#pb-left-column {
	width: 90% !important;
}
ul.idTabs li {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	text-align: center;
	width: 100%;
}
.idTabs a:after {
	left: 3px;
	width: 96%;
}
.idTabs a {
	margin-right:0;
}
.input-qty-box .input .range li input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#pb-right-column #views_block {
	margin-top: 10px;
	width: 100%;
}
#thumbs_li li {
	width: 20%;
	margin: 0 5px 10px;
}
#thumbs_li li img {
	height: auto;
	width: 100%;
}
#pb-right-column #image-block img {
	border:none;
	margin: 0 auto;
}
/********************************
   ***** Compare  ****
*********************************/

.comparison_header {
	display:none;
}
#product_comparison .product_desc {
	height: auto;
	margin: 0 20%;
	min-height: auto;
	text-align: center;
}
#product_comparison h5 {
	margin:10px 0;
	text-align:center;
}
.cmp_remove {
	display: block;
	height: 20px;
	line-height: 19px !important;
	margin: 0 auto;
	min-width: auto;
}
.comparison_product_infos {
	height: auto;
	margin-bottom: 20px;
	padding-bottom: 10px;
	position: relative;
}
.comparison_product_infos .ajax_add_to_cart_button {
	display: block;
	font-size: 18px;
	line-height: 18px;
	margin: 20px auto;
	padding: 12px;
	width: 39%;
}
#product_comparison td {
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0;
	padding: 6px;
	text-align: center;
	vertical-align: top;
	width: auto;
	min-height:30px;
}
#product_comparison .prices_container {
	height: auto;
}
#product_comparison .lnk_more {
	float: right;
	margin-right: 5px;
}
/********************************
   ***** Favorite  ****
*********************************/



#module-favoriteproducts-account #center_column {
	width: auto;
}
.favoriteproduct h3 {
	padding: 0 20px 10px;
}
/********************************
   ***** Sitemap  ****
*********************************/




#sitemap_content div.sitemap_block {
	float: none;
	min-height: 120px;
	width: 100%;
}
#listpage_content {
	margin: 20px;
	overflow: hidden;
}
#listpage_content div.categTree {
	float: none;
	width: 100%;
}
#listpage_content div.categTree {
	float: none;
	margin-top: 20px;
	width: 100%;
}
#map {
	width: auto;
}
#locationSelect {
	visibility: hidden;
	width: auto;
}
/********************************
   ***** History   ****
*********************************/

#history #center_column {
	width: auto;
}
ul.footer_links {
	clear: both;
	margin: 0 20px;
	overflow: hidden;
}
.logout {
	text-align: left;
}
/********************************
   ***** Identity   ****
*********************************/



#identity .std p.radio span {
	width: auto;
}
#identity #center_column {
	width: auto;
}
/********************************
   ** Form create-account **
*********************************/

#history p {
	padding-bottom:10px;
}
.error {
	text-align: left;
}
#form_forgotpassword p.submit {
	padding-top: 10px;
}
#create-account_form input, .popab-password-link {
	margin:10px 0;
}
#login_form input {
	margin:10px 0;
}
#authentication #center_column {
	margin-left: 0 !important;
	width: 100% !important;
	margin-top:10px !important;
}
#authentication #create-account_form fieldset, #authentication #login_form fieldset {
	height: auto;
}
#form_forgotpassword p.text label {
	width: auto;
	text-align: left;
}
#form_forgotpassword p.text input {
	width: 50%;
}
#create-account_form, #authentication #login_form {
	float: none;
	height: auto;
	margin-right: 0;
	width: auto;
}
#create-account_form #email_create, #login_form #email, #login_form #passwd, #login_form #login_email, #login_form #login_passwd {
	width: auto;
}
#create-account_form #SubmitCreate, #login_form #SubmitLogin {
	float: none;
}
#account-creation_form p.radio span, #account-creation_form p.text label, #account-creation_form p.password label, #account-creation_form p.select label, #account-creation_form p.select span, #account-creation_form p.textarea label {
	display: block;
	float: none;
	padding-left: 0;
	text-align: left;
	width: auto;
}
#center_column #account-creation_form p {
	margin: 0;
	padding: 0 0 10px 15px;
}
#account-creation_form p.text input, #account-creation_form p.password input, #account-creation_form p.select input {
	width: auto;
}
#account-creation_form span.form_info {
	margin: 0;
	text-align:left;
}
#account-creation_form p.checkbox input {
	margin-left: 0px;
}
.account_creation label {
	width: 55%;
}
.cart_navigation .exclusive, .cart_navigation .exclusive_large {
	float: right;
	margin: 0 7px;
}
/********************************
   ** Form adress **
*********************************/

#add_adress p.text label, #add_adress p.password label, #add_adress p.select label, #add_adress p.select span, #add_adress p.textarea label {
	width: auto;
	display: block;
	text-align: left;
	padding: 0;
}
#add_adress p.text input, #add_adress p.password input, #add_adress p.select input {
	width: auto;
}
#center_column #add_adress p {
	margin: 0;
	padding: 0 0 10px 10px;
}
#add_adress p.textarea textarea {
	width: auto;
}
#center_column #add_adress p {
	margin: 0 !important;
}
/**************************************
** Form Your personal information **
***************************************/


#header_user_info a {
	position: relative;
	z-index: 10;
}
#identity .std p.text label, #identity .std p.password label, #identity .std p.select label {
	width: auto;
	display: block;
	text-align: left;
}
#identity .std p.text input, #identity .std p.password input {
	width: auto;
}
#identity .std p.checkbox input {
	margin: 0;
}
#identity .std p.submit {
	padding: 0;
}
#identity .std #security_informations {
	padding: 5px 0;
}
#center_column #add_adress p.submit2 {
	padding-top: 10px !important;
	text-align: left;
}
#my-account .myaccount_lnk_list {
	margin: 20px;
}
.account-welcome {
	margin:0 20px;
}
.block-history {
	margin:20px 0 0 0;
}
/*************************
** Checkout Address **
**************************/

.addresses ul.address {
	float: none;
	width: 100% !important;
}
#ordermsg .textarea textarea {
	width: 65%;
}
#ordermsg p.txt {
	float: none;
	margin-right: 25px;
	width: auto;
}
/*************************
**** Checkout order ****
**************************/


#order .delivery_option_radio, #order-opc .delivery_option_radio {
	float: left;
	margin: 20px 0 10px 20px;
}
#order .delivery_option label, #order-opc .delivery_option label {
	display: block;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 19px;
	padding-top: 5px;
}
/*************************
**** Footer ****
**************************/

#reinsurance_block {
	display: none;
}
.footer-wrap {
	display: none;
	overflow: hidden;
	padding: 10px !important;
}
.adaptive-fotter {
	display: block;
}
.adaptive-fotter {
	background: url("adaptive/nav-icon.png") no-repeat scroll right 6px #ED5E08 !important;
	color: #fff !important;
	font-size: 17px !important;
	font-weight: normal !important;
	padding: 10px 11px;
	text-align: left;
}
.adaptive-fotter a {
	color: #FFFFFF !important;
	display:block;
	text-decoration:none !important;
	text-align:center !important;
	font-weight:300 !important;
}
.adaptive-fotter.block-open {
	background: url("adaptive/nav-icon.png") no-repeat scroll right 2px #ED5E08 !important;
}
#topcontrol {
	display:none;
}
#footer .myaccount h4 {
	padding: 0 0 10px !important;
}
#footer .myaccount li {
	text-transform: none;
}
/*************************
**** Contact ****
**************************/

#contact p.text label, #contact p.select label, #contact p.select span, #contact p.textarea label {
	display: block;
	text-align: left;
	width: auto;
}
#contact p.text input, #contact p.select input {
	font-size: 12px;
	height: 22px;
	margin-left: 15px;
	padding: 0 5px;
	width: 50%;
}
#contact p.select select {
	font-size: 12px;
	margin-left: 15px;
}
#contact p.textarea textarea {
	font-size: 12px;
	height: 80px;
	margin-left: 15px;
	width: 50%;
}
/*************************
**** Cart ****
**************************/


table#cart_summary tbody td {
	font-size: 16px;
	line-height: 20px;
	padding: 10px !important;
}
.cart_description a {
	display:block;
	width:100%;
	text-align:center;
	text-decoration:none;
}
table#cart_summary tbody td span {
	display: block;
	float: none !important;
	text-align: center !important;
}
#cart_quantity_button img {
	width: 30px !important;
	height: auto !important;
}
.cart_quantity .cart_quantity_input {
	border: 1px solid #CCCCCC;
	float: none;
	font-size: 24px;
	height: 28px;
	margin: 5px auto;
	text-align: center;
	width: 100%;
}
.cart_quantity .cart_quantity_button {
	float: none !important;
	position: relative;
	top: 0;
	width: auto;
	display:none;
}
table#cart_summary .cart_product img {
}
#order-opc h2 {
	margin-left: 15px;
}
#cart_summary {
	border: medium none;
	margin: 20px 0;
}
#opc_delivery_methods {
	margin-left: 10px;
}
table#cart_summary .cart_description {
}
#order-opc #center_column {
	width: auto;
}
ul.step {
	display: none;
	height: auto;
}
ul.step li {
	float: none;
}
table th {
	padding: 5px !important;
	text-align: center !important;
	vertical-align: middle !important;
	display: none;
	width: 100% !important;
}
table td {
	display: block;
	padding: 5px !important;
	text-align: center !important;
	vertical-align: middle !important;
	width: auto !important;
}
table tr {
	display: block;
}
#sendOrderMessage {
	margin-bottom: 10px;
	padding: 15px;
}
#order-detail-content tfoot {
	display: none;
}
#order-detail-content td {
	border: medium none !important;
	clear: both;
	padding: 5px 5px 5px 21px !important;
	text-align: center !important;
	min-width: 120px;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
	width: 100%;
}
label[for="id_address_delivery"], label[for="id_address_invoice"] {
	width: auto !important;
	float: none;
}
#order-opc #opc_delivery_methods textarea {
	width: 94%;
}
#new_account_form p.text input, #new_account_form p.password input, #new_account_form p.select input {
	margin-left: 15px;
	width: 70%;
}
#new_account_form p.radio span, #new_account_form p.text label, #new_account_form p.password label, #new_account_form p.select label, #new_account_form p.select span, #new_account_form p.textarea label {
	display: block;
	text-align: left;
	width: auto;
	margin-left: 0px;
}
#new_account_form span.form_info, #new_account_form span.inline-infos {
	margin-left: 15px;
}
#new_account_form p.checkbox input {
	margin-left: 15px;
}
#new_account_form p.select select {
	margin-left: 15px;
}
#new_account_form p.textarea textarea {
	margin-left: 15px;
	width: auto;
}
#center_column #new_account_form p {
	margin-left: 15px;
}
.cart_navigation {
	margin: 10px;
}
.cart_delete a.cart_quantity_delete, a.price_discount_delete {
	font-size: 15px;
	padding: 5px;
	text-decoration:none !important;
}
#opc_account_form .radio {
	padding-left: 15px !important;
}
#compare_shipping_form .exclusive_large {
	margin-bottom:10px;
}
#compare_shipping p {
	margin-bottom:10px;
}
#order .delivery_option label > table.resume td + td + td, #order-opc .delivery_option label > table.resume td + td + td {
	text-align: left;
	width: auto;
}
#order .delivery_option label > table.resume td + td, #order-opc .delivery_option label > table.resume td + td {
	width: auto;
}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
	padding-left: 10px;
	width: auto;
}
#module-bankwire-payment form {
	display: block;
	padding: 0 5px;
}
#order-list td, #order-list th {
	border-bottom: 1px dotted !important;
	font-size: 14px;
	font-weight: normal;
	padding: 8px !important;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
}
ul.address {
	width: 100% !important;
	margin-right: 0 !important;
}
ul.address li {
	font-size: 1em;
	height: auto;
	line-height: 1.333;
	margin-bottom: 5px;
	padding: 2px 15px;
}
#address_invoice_form .button_large {
	margin-left: 0 !important;
}
.account-home {
	margin-left:20px;
}
/*************************
**** ORC ****
**************************/

#opc_account_choice .opc_float {
	float: none;
	width: auto;
}
.hide-left-column #center_column {
	width: auto;
}
.wrap-brand li img {
	height: auto;
	max-width: 70px;
}
}



/************************************
  ***** Shoppik mobile grid*****  
**************************************/	

	

/************************
  ***** List view *****  
*************************/	
 @media only screen and (max-width: 800px) {
#product_list li img {
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#product_list li img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
ul#product_list {
	list-style-type: none;
	text-align: center;
	width: 100%;
}
#product_list li.item {
	border-bottom: 1px solid #D5D5D5;
	clear: both;
	margin: 0 0 19px;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
}
#product_list .block-desc-grid {
	display:none;
}
.wrap-item-list {
	padding:10px;
}
#product_list li.item .left_block {
	float: left;
	padding-top: 0;
	width: 22px;
}
#product_list li.item .left_block .compare label {
	display: none;
}
#product_list li p.compare input {
	vertical-align: text-bottom
}
#product_list li .center_block {
	padding: 0;
	text-align: left;
	width: 100%;
}
#product_list li .center_block label {
	font-size: 12px;
	left: 10px;
	position: relative;
	top: 0;
}
.block-desc-list {
	float: left;
	padding-left: 11px;
	width: 67%;
}
.grid .block-desc-list {
	display:none;
}
.grid figcaption {
	display:block !important;
}
figcaption {
	display:none;
}
.box-img {
	float: left;
	position: relative;
}
#product_list a.product_img_link {
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	margin-right:10px;
	margin-left:0px;
}
#product_list a.product_img_link {
	border: 1px solid #DFDFDF;
}
#product_list a.product_img_link:hover {
	border:1px solid #ED5E08;
}
.grid .compare {
	bottom: 50px;
	left: 17px;
	z-index:20;
}
.compare {
	bottom: 10px;
	left: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
}
#product_list a.product_img_link img {
	display: block;
	position: relative;
	vertical-align: bottom;
	background:#fff;
}
#product_list li span.new {
	background: none repeat scroll 0 0 rgba(46, 46, 46, 0.8);
	clear: both;
	color: #FFFFFF;
	font-size: 15px;
	left: 0;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	top: 0;
	width: auto;
}
.block-title-product {
	float:right;
}
.center_block h3 {
	float: left;
	font-size: 15px;
	padding: 5px 0;
}
#product_list li.item h3 a {
	color: inherit;
	font-family: open sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.333;
	margin-bottom: 3px;
	text-transform: none;
}
#product_list li.item h3 a:hover {
	text-decoration:underline !important;
}
#product_list li.item a {
	color: inherit;
	font-size: 12px;
	text-decoration: none;
	vertical-align:top;
}
#product_list li.item p.product_desc {
	border-top: 0;
	clear: both;
	display: block;
	font-size: 15px;
	line-height: 21px;
	margin-top: 6px;
	overflow: hidden;
	padding: 9px 0;
	text-align:justify;
	text-indent: -3px;
}
#product_list li.item .right_block {
	margin-top: 20px;
	text-align: right;
}
.grid #product_list li.item .right_block {
	clear: both;
	margin-top: 0;
	padding-bottom: 12px;
	text-align: center;
}
#product_list li.item .discount, ul#product_list li.item .on_sale, ul#product_list li.item .online_only {
	background: none repeat scroll 0 0 rgba(46, 46, 46, 0.8);
	color: #FFFFFF;
	display: inline-block;
	font-family: oratorstd;
	font-size: 14px;
	margin: 15px 0;
	padding: 4px 8px;
}
#product_list li.item .discount {
	background: none repeat scroll 0 0 rgba(46, 46, 46, 0.8);
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-size: 10px;
	margin: 5px 0 2px;
	padding: 1px 5px;
	text-align: right;
	text-transform: uppercase;
}
#product_list li.item .online_only {
	margin: 0 0 10px 0
}
#product_list li.item .content_price {
	padding-bottom: 5px;
	padding-top:0;
}
.grid #product_list li.item .content_price {
	padding-top: 0px !important;
}
#product_list li.item .price {
	color: inherit;
	display: block;
	font-family: oratorstd;
	font-size: 16px !important;
	font-weight: normal;
}
#product_list li span.availability {
	clear: both;
	display: block;
	font-size: 16px;
	padding: 0 0 5px;
}
.grid #product_list li span.availability {
	display:none;
}
.item-grid li span.availability {
	display: none !important;
}
#product_list li .ajax_add_to_cart_button {
	margin: 0 0 10px;
	display: inline-block;
}
#product_list li .ajax_add_to_cart_button span {
	display: block;
	position: absolute;
	top: -1px;
	left: -12px;
	height: 26px;
	width: 26px;
}
#product_list li.item a strong {
	font-weight:normal !important;
}
#product_list li .ajax_add_to_cart_button span {
	outline:none;
	display: block;
	height: 26px;
	left: -16px;
	position: absolute;
	top: -8px;
	width: 26px;
}
.right_block .lnk_view span:before {
	outline:none;
	content: "\f0a9";
	background: none repeat scroll 0 0 transparent;
	color: #ED5E08;
	display: block !important;
	font-family: "FontAwesome";
	font-size: 19px !important;
	height: 26px;
	left: 12px;
	margin-right: 10px;
	padding: 3px;
	position: absolute;
	text-decoration: none !important;
	top: 3px;
	width: 7px !important;
}
.grid .right_block .lnk_view span:before {
	left: 15px;
	top: 10px;
}
.right_block .ajax_add_to_cart_button span:before {
	content: "\f07a";
	background: none repeat scroll 0 0 transparent;
	color: #ED5E08;
	content: "";
	display: block !important;
	font-family: "FontAwesome";
	font-size: 19px !important;
	height: 26px;
	left: 26px;
	margin-right: 10px;
	padding: 3px;
	position: absolute;
	text-decoration: none !important;
	top: 10px;
	width: 7px !important;
}
.grid .right_block .ajax_add_to_cart_button span:before {
	left: 29px;
	top: 19px;
}
.item-grid li .lnk_view {
	min-width: 85px !important;
}
#product_list li .lnk_view:hover {
	text-decoration: none;
}
.right_block [class^="icon-"]:before, .right_block [class*=" icon-"]:before {
	color: #7F7F7F !important;
	text-shadow: none;
}
.right_block span:before, .ajax_wishlist_button:before {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.right_block span:hover:before {
	opacity:0.8;
}
.grid .ajax_wishlist_button:hover:before {
	opacity:0.8;
}
/************************************
  ***** Grid view *****  
**************************************/	
 #product_list li:hover .prd-line {
	background: none repeat scroll 0 0 rgba(46, 46, 46, 0.7);
}
.prd-line {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	background: none repeat scroll 0 0 rgba(46, 46, 46, 0.9);
	clear: both;
	overflow: hidden;
	padding:2px 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	z-index:17;
}
.prd-line a {
	margin: 0 !important;
}
.grid #product_list li.item h3 a {
	color: inherit;
	font-size: 15px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 3px;
	text-transform: none;
}
.grid .block-desc-grid {
	display: block !important;
	padding: 0;
	width: auto;
}
.block-desc-grid .ajax_add_to_cart_button {
	float: right !important;
}
.item-grid #product_list li .lnk_view {
	clear: both;
	display: inline-block;
	font-weight: normal;
	margin-left: 0;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-transform: none;
	width: 95px;
}
.item-grid #product_list a.product_img_link {
	margin-left:0 !important;
}
.item-grid {
	display: inline-block;
	clear: both;
}
.item-grid #product_list li .center_block {
	text-align: center;
}
body #product_list li .left_block {
	left: 15px;
	margin-top: 8px;
	padding-top: 0;
	position: absolute;
	bottom: 0;
	width: auto;
	z-index: 333;
}
body .item-grid li .left_block {
	left: 20px;
	margin-top: 15px !important;
}
body .item-grid #product_list li .left_block label {
	display: inline-block;
}
body .item-grid #product_list li .center_block {
	float: left;
	overflow: hidden;
	padding: 0;
	width: auto !important;
	border-left: 0;
	border-right: 0;
}
body .item-grid #product_list li:hover a.product_img_link {
}
body .item-grid #product_list a.product_img_link {
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	margin-right:0px !important;
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
}
body .item-grid #product_list.list a.product_img_link {
	margin-right: 10px !important;
}
body .item-grid #product_list a.product_img_link img {
	border: 5px solid #FFFFFF;
	display: block;
	margin: 0 auto;
	vertical-align: bottom;
}
body .item-grid li:hover img {
	opacity:1;
}
body .item-grid #product_list li .right_block {
	background: none repeat scroll 0 0 #FFFFFF;
	bottom: -85px;
	clear: both;
	display: none;
	float: none;
	left: 0;
	padding: 2%;
	position: absolute;
	text-align: center;
	width: 96%;
	z-index: 200;
	height:80px;
}
body .item-grid #product_list li:hover .right_block {
	display:block;
}
body .grid #product_list li .lnk_view {
	min-width: inherit;
	display:none;
}
body .grid #product_list li #bt_compare {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: block;
	font-size: 0;
	height: 48px;
	margin: 0 3px 0 0;
	max-width: none;
	min-width: auto;
	position: relative;
	width: 49px !important;
	z-index: 100;
}
body .list #product_list li #bt_compare {
	height: 34px;
	padding: 8px 0 8px 44px;
	position: relative;
	text-align: left;
	top: 0;
	width: 105px;
}
.list .form-compare span:before {
	top: 4px;
}
.list .form-compare {
	display: inline-block;
	float: left;
	margin-left: 9px;
	margin-top: 0;
	position: relative;
}
.grid .form-compare {
	display: inline-block;
	position: relative;
	vertical-align:top;
}
.form-compare {
	display: inline-block;
	position: relative;
	vertical-align:top;
}
.form-compare span:before {
	content: "\f0ec";
	background: none repeat scroll 0 0 transparent;
	color: #ED5E08;
	display: block !important;
	font-family: "FontAwesome";
	font-size: 19px !important;
	height: 26px;
	left: 13px;
	margin-right: 10px;
	padding: 3px;
	position: absolute;
	text-decoration: none !important;
	top: 10px;
	width: 7px !important;
	z-index: 101;
	cursor:pointer;
}
body .grid #product_list li .ajax_add_to_cart_button {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
	height: 33px;
	margin: 0;
	max-width: none;
	min-width: auto;
	position: relative;
	width: 22px !important;
	z-index: 100;
}
.grid .ajax_wishlist_button {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
	height: 33px;
	margin: 0;
	max-width: none;
	min-width: auto;
	position: relative;
	width: 22px !important;
	z-index: 100;
}
body .grid #product_list li .lnk_view {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	display: inline-block;
	height: 33px;
	margin: 0;
	max-width: none;
	min-width: auto;
	position: relative;
	width: 22px !important;
	z-index: 100;
}
body .grid #product_list li .right_block strong {
	display:none;
}
body .grid h3 {
	display: block;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.grid #product_list li.item .content_price {
	float: left;
	margin: 5px 0 0;
	text-align: center;
	width: 73px;
}
.grid #product_list li.item .content_price span {
	color: #FFFFFF;
	font-size: 15px;
}
body .grid a.product_img_link {
	margin: 0 !important;
}
body .grid #product_list a.product_img_link img {
	margin-bottom: 0px;
}
body .grid .box-img {
	float: left;
	padding-bottom: 0;
	position: relative;
}
body .grid #product_list li.item {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DFDFDF;
	display: inline-block;
	margin: 10px auto !important;
	padding: 5px !important;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 252px;
}
body .item-grid #product_list li.last {
	margin-right: 0;
}
body .item-grid #product_list li .content_price {
	margin: 0;
	text-align: center;
}
body .item-grid #product_list .compare {
	margin: 10px 0;
	padding: 0;
}
body .item-grid #product_list label {
	display:none !important;
}
body .item-grid #product_list li .ajax_add_to_cart_button span {
	display: block;
	height: 26px;
	left: 5px;
	position: absolute;
	top: 4px;
	width: 26px;
}
.item-grid .center_block h3 {
	clear: both;
	font-size: 14px;
	padding: 5px 0;
	text-align: center;
}
#product_list input.button_disabled, #product_list input.exclusive_disabled, span.exclusive {
	clear: both;
	cursor: not-allowed;
	display: block;
	float: right;
	margin-bottom: 10px;
	opacity: 0.5;
}
.grid li {
	min-width:inherit !important;
}



}
 @media only screen and (max-width: 320px) {
body {
	min-width: 300px;
}
#product_list a.product_img_link {
	float: none;
}
#product_list li h3 {
	padding-bottom: 10px;
}
.product_img_link img {
	margin: 0 auto !important;
}
#product_list li .content_price {
	float: none;
	margin: 5px;
}
body #search_block_top #search_query_top {
}
ul#product_list {
	max-width: 320px;
}
body #product_list.grid li {
	width: 87% !important;
}
body #product_list li {
	padding: 10px 0 0 !important;
}
}
