


.logo{
    margin: 13px 0 0 !important;
    padding: 0 !important;
}


.logo img{
	  height: auto;
    max-width: 180px;  
}


.nav-wrap{
	position:relative;
	
}



.home-logo a{
  left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    top: -15px;
}


.home-logo a:after {
 content: "";
    display: none !important;
}
/*** ESSENTIAL STYLES ***/
.sf-contener {
 background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    clear: both;
    margin-bottom: 27px;
}
.sf-right {
	margin-right: 14px;
	float: right;
	width: 7px;
}
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
 float: right;
    width: 100%;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul {
	margin-top: 21px;
}
.sf-menu ul ul {
	margin-top:0px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
  float: left;
    position: relative;

}
.sf-menu a {
	background:#FFF;
font-family: 'oratorstd';
	border: 0 none;
	color: #000;
	display: block;
	font-size: 15px;
	line-height: 1.333;
	margin-right: 2px;
	padding: 10px 22px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left:			0;
	top:			34px; /* match top ul list item height */
	z-index:		99;
	width:auto
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
/*** DEMO SKIN ***/

.sf-menu a {
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	padding:30px 20px;
	font-family: 'oratorstd';
	border: 0 none;
	color: #000;
	display: block;
	font-size: 15px;
	line-height: 1.333;
	margin-right: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:300;
	position:relative;

}
.sf-menu a:hover {
	color:#ED5E08;
	
}



.sf-menu  ul a{
   padding: 1px 20px 10px !important;

}

.sf-menu  a:after{
content: "/";
    display: block;
    padding: 2px;
    position: absolute;
    right: 0;
  top: 30px;
}

.sf-menu  a:last-child:after {
	display:none;

}

.sf-menu ul  a:after{
content: "";
    display: block;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 14px;
}


.sf-menu ul li:hover, .sf-menu ul li.sfHover, .sf-menu ul li a:focus, .sf-menu ul li a:hover, .sf-menu ul li a:active {
	outline:		0;
}
/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-menu li:hover .sf-sub-indicator {
}
.sf-sub-indicator {
	color: #FFFFFF;
	display: block;
	position: absolute;
	right: 10px;
	top: 13px !important;
	width: 17px;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	background-position: 0 -100px;
	top: 28px;
}
ul li ul a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	background-position: 0 -100px;
	top: 16px;
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
}
.sf-menu ul a > .sf-sub-indicator {
b
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
li.sf-search {
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
   background: none repeat scroll 0 0 transparent;
   border: 1px solid #E9E9E9;
    color: #A2A2A2;
    float: right;
    font-family: 'Open Sans',sans-serif;
    margin-top: 25px;
    padding: 0 3px 6px;
}
li.sf-search input {
   background: url("../images/search.png") no-repeat scroll right center #FFFFFF;
    border: medium none;
    color: #A2A2A2;
    font-size: 12px;
    margin: 6px 6px 0 0;
    padding:0 8px 4px 5px;
    width: 158px;
}

li.sf-search:hover{
	border:1px solid #000;
}
li.sf-search:hover input{
    color: #000;
}

.sf-search label {
	color: #191A19;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	padding: 10px 10px 10px 5px;
	text-transform: uppercase;
}
#searchbox {
	float:left;
	display:block;
}
/* hack IE7 */
.sf-menu a, .sf-menu a:visited {
height:34px !IE;
}
.sf-menu li li {
	margin-left:0px;
	width: 200px;
}
